* {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ddd;
}
.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #ddd;
  max-width: 500px;
}

#start-btn {
  font-size: 36px;
  padding: 20px;
  margin-top: 30px;
  border-radius: 10px;
  background-size: 50px;
}
.dust {
  position: absolute;
}